html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px; }

#container {
  width: 960px;
  margin: auto; }

header h1 {
  margin: 0;
  font-size: 48px;
  margin-top: 25px; }

textarea {
  height: 250px;
  border: 1px solid black; }

fieldset {
  border: 1px solid black; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline;
    margin-right: 20px; }

#input {
  margin-top: 25px; }
  #input label {
    font-size: 28px; }
  #input #left {
    float: left;
    overflow: auto; }
  #input #right {
    float: right;
    overflow: auto; }
  #input label, #input textarea {
    display: block;
    width: 470px; }
  #input button {
    width: 960px;
    height: 45px;
    font-size: 26px; }

#output {
  margin-top: 25px; }
  #output label {
    font-size: 28px; }
  #output label, #output textarea {
    display: block;
    width: 960px; }

footer {
  margin-top: 25px;
  padding-bottom: 5px;
  font-size: 16px; }

#render {
  border: 1px solid #076fe4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
  box-shadow: compact(inset 0 1px 0 0 #8ebcf1, false, false, false, false, false, false, false, false);
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false)));
  background-image: -webkit-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -moz-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -ms-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: -o-linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  background-image: linear-gradient(top, compact(#4294f0, #0776f3, false, false, false, false, false, false, false, false));
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box;
  margin-top: 25px; }
  #render:hover:not(:disabled) {
    -webkit-box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
    box-shadow: compact(inset 0 1px 0 0 #60a2ec, false, false, false, false, false, false, false, false);
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)));
    background-image: -webkit-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -moz-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -ms-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: -o-linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false));
    background-image: linear-gradient(top, compact(#2f87ea, #086fe3, false, false, false, false, false, false, false, false)); }
  #render:active:not(:disabled) {
    border: 1px solid #076fe4;
    -webkit-box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false);
    box-shadow: compact(inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee, false, false, false, false, false, false); }
  #render:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

textarea {
  font-family: 'Droid Sans Mono', sans-serif; }

a, a:visited {
  color: #076fe4;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #086fe3;
    text-decoration: underline; }
