@import 'bourbon/bourbon';

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

#container {
  width: 960px;
  margin: auto;
}

header {
  h1 {
    margin: 0;
    font-size: 48px;
    margin-top: 25px;
  }
}

textarea {
  height: 250px;
  border: 1px solid black;
}

fieldset {
  border: 1px solid black;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 20px;
  }
}

#input {
  margin-top: 25px;

  label {
    font-size: 28px;
  }

  #left {
    float: left;
    overflow: auto;
  }

  #right {
    float: right;
    overflow: auto;
  }

  label, textarea {
    display: block;
    width: 470px;
  }

  button {
    width: 960px;
    height: 45px;
    font-size: 26px;
  }
}

#output {
  margin-top: 25px;

  label {
    font-size: 28px;
  }

  label, textarea {
    display: block;
    width: 960px;
  }
}

footer {
  margin-top: 25px;
  padding-bottom: 5px;
  font-size: 16px;
}

#render {
  @include button;
  margin-top: 25px;
}

textarea {
  font-family: 'Droid Sans Mono', sans-serif;
}

a, a:visited {
  color: #076fe4;
  text-decoration: none;

  &:hover {
    color: #086fe3;
    text-decoration: underline;
  }
}
